name: curlbox-pr

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev

      - name: Build
        run: |
          cargo build

on:
  pull_request:
    branches:
      - main

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write
